name: Build and Test Old Versions

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-20.04
    env:
      MIX_ENV: test
    strategy:
      matrix:
        elixir: ["1.12.3", "1.13.4", "1.14.4"]
        otp: ["22.3", "23.3.4"]
        exclude:
          # Elixir 1.14 requires at least OTP 23
          - elixir: "1.14.4"
            otp: "22.3"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Elixir Project
        uses: ./.github/actions/elixir-setup
        with:
          elixir-version: ${{ matrix.elixir }}
          otp-version: ${{ matrix.otp }}
          build-flags: --all-warnings --warnings-as-errors

      - name: Run Tests
        run: mix coveralls.json --warnings-as-errors
        if: always()
